/* Header.js */

.fondo-cyan {
  background-color: #01debb;
}

/* ListaPacienteDetalle.js*/
.flotante {
  position: fixed !important;
  width: 50vh;
}

/* HomeScreen.js */
.oscurecer {
  filter: brightness(85%);
}
